<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/main.css">
        <title>Redox - Home</title>
    </head>
    <body>
        <div id="container">
            <header>
                <div class="logo">
                    <img src="/img/logo.png">
                </div>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/rules">Rules</a></li>
                        <li><a href="/games">Games</a></li>
                    </ul>
                </nav>
            </header>
            <div class="subheader"></div>
            <div class="content">
                <div class="frame frame-blue">
                    <div class="frame-blue-content">
                        <p>Redox is a gamedev competition website for the Rust programming language. It is currently maintained and developed as part of the Piston project.</p>
                        <p>
                            Our goals are:
                            <ul>
                                <li>To have fun!</li>
                                <li>To spread awareness about Rust</li>
                                <li>Test and develop new libraries for Rust server software</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="frame frame-green">
                    <div class="frame-green-content">
                        <p>
                            Todo:
                            <ul>
                                <li>Set up public server</li>
                                <li>Github login</li>
                                <li>Build voting system</li>
                                <li>Web design</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="frame frame-orange">
                    <div class="frame-orange-content">
                        <p>
                            News:
                            <ul>
                                <li>Set up public server</li>
                                <li>Github login</li>
                                <li>Build voting system</li>
                                <li>Web design</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <footer>Redox &copy; 2015</footer>
        </div>
    </body>
</html>
